.CenterListContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.CenterListContainer .CardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .CenterCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 10px;
    flex: 0 0 300px;
}

.CenterCard:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
} */


.LinkWrapper {
    text-decoration: none;
}

.LinkWrapper:hover .CenterCard {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .CenterCard {
        flex: 0 0 100%;
    }
}

.cardlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
}