.CenterListContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.CenterListContainer .CardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.CenterCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin: 10px;
    flex: 0 0 300px;
}

.CenterCard:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.CenterCard .Card.Body {
    padding: 20px;
}

.CenterCard .Card.Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.CenterCard .Card.Text {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.CenterCard .list-group-flush .list-group-item {
    background-color: transparent;
    border: none;
    padding: 5px 0;
}

.CenterCard .Card.Link {
    color: #007bff;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.CenterCard .Card.Link:hover {
    color: #0056b3;
}

.LinkWrapper {
    text-decoration: none;
}

.LinkWrapper:hover .CenterCard {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .CenterCard {
        flex: 0 0 100%;
    }
}

.CardListContainer {
    display: flex;
    justify-content: center;
}