.clearfix {
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

.main-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: auto;
    /* align-items: center; */
}

.label-wrapper {
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.content-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.cardlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-wrapper {
    margin-bottom: 30px;
    width: 1000px;
    margin: auto;
}

.timetable-wrapper {
    margin-bottom: 30px;
}

.label-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.link-wrapper {
    text-decoration: none;
}