.current {
    font-weight: bold;
}

.preBtn {
    margin-right: 10px;
}

.TeacherListContainer {
    margin-bottom: 20px;
}

.postmodal{
    background : rgba(0,0,0,0.25);
    position : fixed;
    left:0;
    top:0;
    height:"500px";
    width:"500px";
}