/* .lesson-info-card {
  margin: 10px 0;
}

.lesson-info-card .card {
  background-color: transparent;
  border: none;
  padding: 0;
}

.lesson-info-card .card-title a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.lesson-info-card .card-body {
  padding: 0;
}

.lesson-info-card .list-group {
  margin-top: 8px;
}

.lesson-info-card .list-group-item {
  background-color: transparent;
  border: none;
  padding: 0;
} */