@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.logo-container {
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.login-container {
    width: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 20px;
}

.sun-title {
    font-family: 'LOTTERIACHAB';
    font-size: 72px;
    text-align: center;
    color: #FFD700;
    margin-bottom: 0;
}

.sun-subtitle {
    margin-top: 0;
    font-family: 'Dovemayo_gothic';
    text-align: center;
}

.btn-login {
    font-family: 'LOTTERIACHAB';
    font-size: 30px;
    color: white;
    background-color: #FFD700;
    height: auto;
    margin: auto;
}
.btn-login:focus {
    color: white;
    background-color: #FFD700;
}
